ul li a {
    text-decoration: none;
    color: blue;
}

ul li a:hover {
    text-decoration: underline;
}

li {
    margin: 6px 0;
}

li button {
    background-color: rgb(246, 209, 209);
    border: 1px solid rgb(159, 76, 76);
    border-radius: 4px;
}

button {
    margin-left: 10px;
    padding: 4px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

